<ng-include src="'views/partials/nav.html'"></ng-include>
<div class="panels">

  <div class="export" ng-show="panelDisplay('export')">
  </div>
  
  <div class="share" ng-show="panelDisplay('share')">
  </div>

  <div ng-controller="HumanCtrl" class="human" ng-show="panelDisplay('human')">
    {{ node.graphjson }}
  </div>

  <div ng-controller="MachineCtrl" class="machine" ng-show="panelDisplay('machine')"> 
    <div ui-codemirror="editorOptions" ng-model="node.graphjson"></div>
  </div>
</div>

<div class="graph_container">
    <div ng-controller="GraphCtrl" class="graph">
    </div>
</div>